@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.loading {
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
